<main>
  <div class="landing-bg"></div>
  <div class="container">

    <header class="zflex">
      <div class="header-title">
        <h2>Social Media Dashboard</h2>
        <h4>Total Followers: 23,004</h4>
      </div>
      <app-theme-switcher />
    </header>
    <div class="content">
      <div class="all-cards">
      @for (item of cards; track $index) {
      <app-card [card]="item"/>
      }
    </div>

    <h2>Overview - Today</h2>
    <div class="all-details">
      @for (detail of cardDetails; track $index) {
      <app-details  [cardDetail]="detail"/>
      }
    </div>

    </div>


  </div>
</main>
