<main>
  <div class="landing-bg"></div>
  <div class="container">

    <header class="zflex">
      <div class="header-title">
        <h2>Social Media Dashboard</h2>
        <h4>Total Followers: 23,004</h4>
      </div>
      <app-theme-switcher />
    </header>
    <section class="content" aria-label="Cards for social media platforms">
      <section class="all-cards">
        @for (item of cards; track $index) {
        <app-card [card]="item" [attr.aria-label]="item.img + ' card'" [tabindex]="$index + 2"/>
        }
      </section>

      <h2>Overview - Today</h2>
      <section class="all-details" aria-label="Details in every socail media platform">
        @for (detail of cardDetails; track $index) {
        <app-details [cardDetail]="detail" [attr.aria-label]="'details for ' + detail.title + ' in ' + detail.img"/>
        }
      </section>

    </section>


  </div>
</main>
