@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}

@function getColor($name) {
  @return var(--clr-#{$name});
}

$social-colors: (
  youtube: #c4032b,
  twitter: #1da1f2,
  facebook: #178ff5,
  instagram: linear-gradient(to left, #fdc366 0%, #ee877e 50%, #df4896 100%),
);

@mixin g-border-classes {
  @each $platform, $color in $social-colors {
    .border-#{$platform} {
      background: $color;
    }
  }
}
